* {
  box-sizing: border-box;
  font-family: "'Franklin Gothic Medium'" , "'Arial Narrow'" , Arial , sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.categorie-element{
  display: flex;
  flex-direction: row;
}

.main-content {
  margin-top: 8px;
  display: flex;
}

.product-card-body {
  position: relative;
  width: 10em;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: solid 1px #afafaf;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 3px 8px 0px #afafaf;
}

.product-card-title {
  background-color: #ec572e;
  border-radius: 8px 8px 0px 0px;
  color: white;
  padding: 8px;
}

.product-card-title h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-price {
  background-color: #215db0;
  width: fit-content;
  margin: auto;
  border-radius: 8px;
  color: white;
  padding: 8px;
}

.nav-div {
  background-color: #ec572e;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  text-align: center;
}

.search-div input{
  padding: 8px 16px;
  border: none;
  width: 15em;
  border-radius: 100px;
}

.search-div button{
  background-color: white;
  width: 31px;
  height: 31px;
  padding: 8px;
  border: none;
  border-radius: 100px;
}

.products-section {
  margin-top: 8px;
  position: relative;
  margin-bottom: 16px;
  flex-shrink: 9999;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-aside {
  width: 10em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 3px;
  margin-bottom: 12px;
}

.product-details {
  display: flex;
  /* position: relative; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details-button {
  text-align: center;
}

.product-details-button button {
  width: 10em;
  background-color: #215db0;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 8px;
  font-weight: 1000;
  font-size: 24px;
  border: none;
  border-radius: 8px;
}

.product-thumb {
  display: flex;
  /* align-self: center; */
  /* margin-left: 32px; */
}


.product-thumb img {
  width: 18em;
  height: 25em;
}

.cartItem {
  border: solid 1px #afafaf;
  border-radius: 16px;
  margin: 24px 8px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 3px 10px 3px #afafaf;
}

.cartItem p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-image {
  height: 7em;
}

.add-to-cart-button {
  margin-bottom: 7px;
  width: 70%;
  height: 2.5em;
  cursor: pointer;
  align-self: center;
}

.categories-container {
  display: flex;
  margin-right: 5px;
}

.categories-container button {
  height: 2em;
  right: 0em;
  padding: 4px;
  font-size: 1rem;
  margin-left: 3px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}

.header-product-detail {
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: space-between;
}

.stars-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.stars-button, .stars-button img {
  height: 3.5em;
}

.free-shipping-container {
  position: absolute;
  right: 0.4em;
  bottom: 16%;
}

.free-shipping-container span {
  font-size: .9rem;
}

.cart-icon-container {
  position: relative;
}

.cart-icon-container span {
  position: absolute;
  left: 0em;
  bottom: -.7em;
  color: white;
  font-weight: 700;
}

.loading {
  text-align: center;
}

.loading-products {
  background-color: white;
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 110%;
  top: -16px;
  bottom: -26px;
}

.product-info {
  gap: 12px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}


.product-info p {
  color: #ec572e;
}

.avaliations-container {
  margin-bottom: 18px;
  margin-top: 22px;
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.users-avaliations-container {
  margin-top: 12px;
  gap: 12px;
  flex-direction: column;
  display: flex;
}

.avaliation-card {
  border: 1px solid black;
  border-radius: 12px;
  padding: 8px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  word-break: break-all;
}

.user-avaliation-email-container p {
  font-size: .9rem;
}

.user-avaliation-message-container p {
  font-size: 1.2rem;
}

.avaliation-form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.avaliation-form-input {
  height: 2.5em;
  width: 20em;
  padding: 5px;
}

.avaliation-form-input:focus {
  outline: none;
}

.submit-avaliation-button {
  height: 2em;
  font-size: 1rem;
  cursor: pointer;
  width: 7.5em;
}
