* {
  box-sizing: border-box;
  font-family: "'Franklin Gothic Medium'" , "'Arial Narrow'" , Arial , sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.categorie-element{
  display: flex;
  flex-direction: row;
}

.main-content {
  margin-top: 8px;
  display: flex;
}

.product-card-body {
  width: 13em;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: solid 1px #afafaf;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 3px 8px 0px #afafaf;
}

.product-card-title {
  background-color: #ec572e;
  border-radius: 8px 8px 0px 0px;
  color: white;
  padding: 8px;
}

.product-card-title h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-price {
  background-color: #215db0;
  width: fit-content;
  margin: auto;
  border-radius: 8px;
  color: white;
  padding: 8px;
}

.nav-div {
  background-color: #ec572e;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  text-align: center;
}

.search-div input{
  padding: 8px 16px;
  border: none;
  width: 15em;
  border-radius: 100px;
}

.search-div button{
  background-color: white;
  width: 31px;
  height: 31px;
  padding: 8px;
  border: none;
  border-radius: 100px;
}

.products-section {
  margin-top: 8px;
  margin-bottom: 16px;
  flex-shrink: 9999;
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-aside {
  width: 10em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 3px;
  margin-bottom: 12px;
}

.product-details {
}

.details {
  text-align: center;
  padding: 80px;
}

.product-details-button {
  text-align: center;
}

.product-details-button button {
  background-color: #215db0;
  color: white;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 24px;
  border: none;
  border-radius: 8px;
}

.product-thumb{
  width: 400px;
  margin: auto;
}


.product-thumb img{
  width: 400px;
}

.cartItem {
  border: solid 1px #afafaf;
  border-radius: 16px;
  margin: 24px 8px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 3px 10px 3px #afafaf;
}

.cartItem p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-image {
  height: 7em;
}

.add-to-cart-button {
  margin-bottom: 7px;
  width: 70%;
  height: 2em;
  cursor: pointer;
  align-self: center;
}

.categories-container {
  display: flex;
  margin-right: 5px;
}

.categories-container button {
  height: 2em;
  right: 0em;
  padding: 4px;
  font-size: 1rem;
  margin-left: 3px;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}
